body {
    background-color: #fbfee5;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
    color: #c91842;
}

.texto-section {
    font-size: 25px;
    color: #98173d;
}

#texto-id {
    font-size: 25px;
    color: #98173d;
}

.card {
    width: 350px;
    height: 250px;                
    padding: 15px;                
    border: 1px solid black;       
    margin: 20px;            
    box-sizing: border-box;       
    background-color: #a8e7ca;
    border-radius: 8px;
}

section {
    font-size: 30px;
}

footer {
    border: 1px solid black;
    margin-top: 50px;
    text-align: center;
}